<!--check if user input have any error-->
<% if @user.errors.any? %>
  <!--set some style to the message error-->
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--count the error in form -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <!--use loop to show each of in form-->
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>